logic: "cli" { port: 3000; };

coeff "reverb" {
	filename: "medhall2_reverb.raw";
	format: "S16_LE";
	attenuation: 30.0;
};

input "signal" {
        #device: "file" { path: "/dev/stdin"; };
        device: "file" { path: "pinknoise.raw"; loop: true; };
	sample: "S16_LE";
        channels: 1;
};

output "alsa left", "alsa right" {
        device: "alsa" { device: "hw"; }; 
        sample: "S16_LE";
        channels: 2;
};

filter "left hrir" {
        inputs: "signal";
	from_filters: "reverb";
        outputs: "alsa left";
        process: -1;
	coeff: "L045";
	crossfade: true;
};

filter "right hrir" {
        inputs: "signal";
	from_filters: "reverb";
        outputs: "alsa right";
        process: -1;
	coeff: "R045";
	crossfade: true;
};

filter "reverb" {
	inputs: "signal";
	to_filters: "left hrir", "right hrir";
	process: -1;
	coeff: "reverb";
};
coeff "R000" {
	filename: "R000.raw";
	format: "S24_LE";
};

coeff "L000" {
	filename: "L000.raw";
	format: "S24_LE";
};

coeff "R015" {
	filename: "R015.raw";
	format: "S24_LE";
};

coeff "L015" {
	filename: "L015.raw";
	format: "S24_LE";
};

coeff "R030" {
	filename: "R030.raw";
	format: "S24_LE";
};

coeff "L030" {
	filename: "L030.raw";
	format: "S24_LE";
};

coeff "R045" {
	filename: "R045.raw";
	format: "S24_LE";
};

coeff "L045" {
	filename: "L045.raw";
	format: "S24_LE";
};

coeff "R060" {
	filename: "R060.raw";
	format: "S24_LE";
};

coeff "L060" {
	filename: "L060.raw";
	format: "S24_LE";
};

coeff "R075" {
	filename: "R075.raw";
	format: "S24_LE";
};

coeff "L075" {
	filename: "L075.raw";
	format: "S24_LE";
};

coeff "R090" {
	filename: "R090.raw";
	format: "S24_LE";
};

coeff "L090" {
	filename: "L090.raw";
	format: "S24_LE";
};

coeff "R105" {
	filename: "R105.raw";
	format: "S24_LE";
};

coeff "L105" {
	filename: "L105.raw";
	format: "S24_LE";
};

coeff "R120" {
	filename: "R120.raw";
	format: "S24_LE";
};

coeff "L120" {
	filename: "L120.raw";
	format: "S24_LE";
};

coeff "R135" {
	filename: "R135.raw";
	format: "S24_LE";
};

coeff "L135" {
	filename: "L135.raw";
	format: "S24_LE";
};

coeff "R150" {
	filename: "R150.raw";
	format: "S24_LE";
};

coeff "L150" {
	filename: "L150.raw";
	format: "S24_LE";
};

coeff "R165" {
	filename: "R165.raw";
	format: "S24_LE";
};

coeff "L165" {
	filename: "L165.raw";
	format: "S24_LE";
};

coeff "R180" {
	filename: "R180.raw";
	format: "S24_LE";
};

coeff "L180" {
	filename: "L180.raw";
	format: "S24_LE";
};

coeff "R195" {
	filename: "R195.raw";
	format: "S24_LE";
};

coeff "L195" {
	filename: "L195.raw";
	format: "S24_LE";
};

coeff "R210" {
	filename: "R210.raw";
	format: "S24_LE";
};

coeff "L210" {
	filename: "L210.raw";
	format: "S24_LE";
};

coeff "R225" {
	filename: "R225.raw";
	format: "S24_LE";
};

coeff "L225" {
	filename: "L225.raw";
	format: "S24_LE";
};

coeff "R240" {
	filename: "R240.raw";
	format: "S24_LE";
};

coeff "L240" {
	filename: "L240.raw";
	format: "S24_LE";
};

coeff "R255" {
	filename: "R255.raw";
	format: "S24_LE";
};

coeff "L255" {
	filename: "L255.raw";
	format: "S24_LE";
};

coeff "R270" {
	filename: "R270.raw";
	format: "S24_LE";
};

coeff "L270" {
	filename: "L270.raw";
	format: "S24_LE";
};

coeff "R285" {
	filename: "R285.raw";
	format: "S24_LE";
};

coeff "L285" {
	filename: "L285.raw";
	format: "S24_LE";
};

coeff "R300" {
	filename: "R300.raw";
	format: "S24_LE";
};

coeff "L300" {
	filename: "L300.raw";
	format: "S24_LE";
};

coeff "R315" {
	filename: "R315.raw";
	format: "S24_LE";
};

coeff "L315" {
	filename: "L315.raw";
	format: "S24_LE";
};

coeff "R330" {
	filename: "R330.raw";
	format: "S24_LE";
};

coeff "L330" {
	filename: "L330.raw";
	format: "S24_LE";
};

coeff "R345" {
	filename: "R345.raw";
	format: "S24_LE";
};

coeff "L345" {
	filename: "L345.raw";
	format: "S24_LE";
};

